body {
    height: 500px;
}

#mycard {
  background-color: lightgrey;
  width: 400px;
  height: 400px;
  border: 15px solid green;
  border-radius: 20px;
  /* margin: auto;
  height: 272px;
  border-radius: 20px; */
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
}